Presence functionality

Hey,
I am not able to use presence functionality, can you please guide me.

We support the following RFCs (see https://linphone.org/technical-corner/liblinphone):
```
    A Presence Event Package for the Session Initiation Protocol (SIP), RFC 3856
    Session Initiation Protocol (SIP) Extension for Event State Publication, RFC 3903 (Creation of PUBLISH requests)
    A Data Model for Presence, RFC 4479
    RPID: Rich Presence Extensions to the Presence Information Data Format (PIDF), RFC 4480
    Subscriptions to Request-Contained Resource Lists in the Session Initiation Protocol (SIP), RFC 5367
    Session Initiation Protocol (SIP) - Specific Event Notification, RFC 6665
    Message Body Handling in the Session Initiation Protocol, RFC 5621
    SIP body compression, RFC 1951
```

For API use, see http://linphone.org/snapshots/docs/liblinphone/latest/java/org/linphone/core/FriendList.html#setRlsAddress-org.linphone.core.Address- (and other methods in Friend/FriendList classes).